@font-face {
    font-family: 'GT Eesti Regular';
    src: url('fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
         url('fonts/GTEestiProDisplay-Regular.woff') format('woff');
}
@font-face {
    font-family: 'GT Eesti Bold';
    src: url('fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
         url('fonts/GTEestiProDisplay-Bold.woff') format('woff');
}
@font-face {
    font-family: 'GT Eesti Light';
    src: url('fonts/GTEestiProDisplay-Light.woff2') format('woff2'),
         url('fonts/GTEestiProDisplay-Light.woff') format('woff');
}
@font-face {
    font-family: 'GT Eesti Medium';
    src: url('fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
         url('fonts/GTEestiProDisplay-Medium.woff') format('woff');
}